.notifications {
    position: fixed;
    right: 0;
    top: 0;
}

.services-list .pending-service {
    display: flex;
    align-items: center;
}

.pending-service .pending-service-label {
    color: #ffe400;
    margin-left: auto;
}

.course-label {
    margin-left: 5px;
    color: white;
}

.label-private {
    color: #007bff;
    vertical-align: middle;
}

.courses-list,
.selected-course {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.courses-list-container {
    display: flex;
    flex-wrap: wrap;
}

.courses-list .course-item {
    flex-grow: 1;
    margin: 10px;
    cursor: pointer;
}

.courses-list .courses-controls {
    display: flex;
}

.courses-list .courses-create-btn,
.courses-list .courses-import-btn {
    margin: 5px
}

.courses-list .courses-create-btn {
    flex-grow: 1;
}

.courses-list .courses-import-btn {
    flex-grow: 0.1;
}

.course-controls {
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
}

.course-controls .course-control:not(:nth-child(1)) {
    margin-left: 10px;
}

.course-controls .course-control:nth-last-child {
    margin-left: auto;
}

.course-tabs .course-tab {
    cursor: pointer;
}

a.github-profile {
    color: inherit;
}

a.github-profile:hover {
    text-decoration: none;
}

.task-results,
.course-stats {
    margin-top: 15px;
}

.task-results th {
    text-align: center;
}

.task-results .table td,
.task-results .table th {
    vertical-align: middle;
}

.report-cell {
    text-align: center;
    height: 40px;
}

.report {
    display: flex;
    justify-content: center;
}

.successful-build-report {
    color: green;
}

.failed-build-report {
    color: #c9302c;
}

.plagiarism-report {
}

.valid-plagiarism-report {
    color: green;
}

.invalid-plagiarism-report {
    color: #c9302c;
    font-weight: bold;
}

.outdated-plagiarism-report {
    color: gray;
}

.plagiarism-marker {
    vertical-align: middle;
}

.plagiarism-modal .modal-body {
    display: flex;
    flex-direction: column;
}

.code-style-grade {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.code-style-grade-A {
    background-image: url("images/codacy_grade_a.png");
}

.code-style-grade-B {
    background-image: url("images/codacy_grade_b.png");
}

.code-style-grade-C {
    background-image: url("images/codacy_grade_c.png");
}

.code-style-grade-D {
    background-image: url("images/codacy_grade_d.png");
}

.code-style-grade-E {
    background-image: url("images/codacy_grade_e.png");
}

.code-style-grade-F {
    background-image: url("images/codacy_grade_f.png");
}

.valid-deadline-report {
    color: green;
}

.invalid-deadline-report {
    color: #c9302c;
}

.report-row {
}

.report-row.report-row-changed .score-input-container {
    box-shadow: 0 0 10px rgba(255, 255, 90, 1);
}

.report-cell .score-input:disabled {
    cursor: not-allowed;
}

.report-cell .score-input-suggestion {
    width: 42px;
}

.report-cell .review-toggle-btn {
    display: none;
}

.review-modal {
    text-align: left;
}

.task-card .card,
.course-summary .card {
    border-radius: 0 0 4px 4px;
    border-top: none;
}

.icon-btn {
}

.task-card .icon-btn,
.task-card .task-btn,
.course-summary .course-btn,
.course-summary .save-results-btn,
.course-summary .icon-btn {
    margin-left: 20px;
}

.course-summary .card-controls,
.task-card .card-controls {
    display: flex;
}

.course-summary .card-controls {
    align-items: center;
}

.task-card .card-controls {
    align-items: baseline;
}

.card-controls .separated-control {
    margin-left: auto;
}

.task-card .icon-btn,
.course-summary .icon-btn {
    line-height: 16px;
}

.task-card .task-deadline {
    display: block;
    margin-bottom: 10px;
}

.card-link.rows-link {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.card-link.rows-link small {
    font-size: 60%;
}

.modal-full-screen {
    margin: 0 !important;
    padding: 0;
    height: 100%;
    width: 100% !important;
    max-width: unset !important;
}

.modal-full-screen .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.plagiarism-modal .modal-body {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.plagiarism-modal .modal-body iframe {
    width: 100%;
    border: none;
}

.flaxo-version {
    font-size: 10px;
}

.checkbox-label {
    margin-bottom: 4px;
}

.checkbox-help {
    margin-top: 0;
}
